<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image classification service</title>
</head>
<body>
	<h1>{{ info }}</h1>
	<h3>Accuracy=70%, images should be square</h3>
	<form method="post" enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Classificate</button>
	</form>
	{% if classification_result %}
		<div id="result">
			<h1>Result</h1>
			<p>There is a {{ classification_result.result }} in the image</p>
			<image src="{{ classification_result.image.url }}"></image>
		</div>
	{% endif %}
</body>
</html>